[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
graphviz = "*"
numpy = "*"
pillow = "*"
matplotlib = "*"
advent-of-code-data = "*"
scipy = "*"
astor = "*"
sympy = "*"

[dev-packages]
black = "==19.10b0"
flake8 = "*"
flake8-bugbear = "*"
mypy = "*"

[requires]
python_version = "3.8"
