[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
graphviz = "*"
numpy = "*"
pillow = "*"
marshmallow = "*"
matplotlib = "*"
advent-of-code-data = "*"
scipy = "*"
astor = "*"
sympy = "*"
regex = "*"
requests = "*"
easing-functions = "*"

[dev-packages]
black = "==20.8b1"
flake8 = "*"
flake8-bugbear = "*"
mypy = "*"

[requires]
python_version = "3.9"
